/* @import "catppuccin-mocha.css"; */
@import "gruvbox.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, JetBrainsMono NFM Light, sans-serif; */
  /* font-family: FontAwesome, IosevkaTerm NF, sans-serif; */
  font-family: FontAwesome, Iosevka Nerd Font Mono, sans-serif;
  font-size: 22px;
  font-feature-settings: "dlig";
  font-feature-settings: "ss05";
  color: @text;
}

window#waybar {
  background-color: @background;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

#clock.date {
  background-color: @clock-bg;
  color: @text;
}

#clock.time {
  background-color: @clock-bg;
  color: @text;
}

#cpu {
  background-color: @cpu-bg;
}

#workspaces {
  background-color: @workspace-bg;
  border-radius: 0;
}
#workspaces button.active {
  background-color: @workspace-active-bg;
  border-radius: 0;
}
#workspaces button.urgent {
  background-color: @workspace-urgent-bg;
  border-radius: 0;
}

#memory {
  background-color: @memory-bg;
}

#disk {
  background-color: @disk-bg;
}

#cpu,
#sway,
#memory,
#disk,
#network,
#clock {
  padding: 0 10px;
  color: @background;
}

#network {
  background-color: @network-bg;
  color: @text;
}
