@import url("./kanagawa_dragon.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, FiraCode Nerd Font Mono, sans-serif;
  font-size: 20px;
  font-feature-settings: "calt";
  font-feature-settings: "zero";
}

window#waybar {
  background-color: transparent;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

#clock.date {
  background-color: @clock-bg;
  color: @text;
}

#clock.time {
  background-color: @clock-bg;
  color: @text;
}

#workspaces {
  background-color: @workspace-bg;
}
#workspaces button.active {
  background-color: @workspace-active-bg;
  color: @background;
}
#workspaces button.urgent {
  background-color: @workspace-urgent-bg;
}

#memory,
#disk,
#cpu {
  color: @background;
}

#memory {
  background-color: @memory-bg;
}

#disk {
  background-color: @disk-bg;
}

#cpu {
  background-color: @cpu-bg;
}

#cpu,
#sway,
#memory,
#disk,
#network,
#workspaces,
#clock {
  margin-top: 5px;
  padding: 1px;
  border-radius: 5px;
}

#network {
  background-color: @network-bg;
  color: @text;
}
