@import "catppuccin-mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, JetBrainsMono NFM Light, sans-serif; */
  font-family: FontAwesome, IosevkaTerm NF, sans-serif;
  font-size: 24px;
  font-feature-settings: "dlig";
  font-feature-settings: "ss14";
  color: @text;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: .5s;
}

#clock.date {
  background-color: @blue;
}

#clock.time {
  background-color: @blue;
}

#cpu {
  background-color: @maroon;
}

#workspaces {
  background-color: @base;
  border-radius: 0;
}
#workspaces button.active {
  background-color: @surface0;
  border-radius: 0;
}
#workspaces button.urgent {
  background-color: @red;
  border-radius: 0;
}

#memory {
  background-color: @mauve;
}

#disk {
  background-color: @lavender;
}

#cpu,
#sway,
#memory,
#disk,
#network,
#clock {
  padding: 0 10px;
  color: @base;
}

#network {
  background-color: @surface0;
  color: @text;
}
